body {
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -2;
}

div.preloaded-images {
   position: absolute;
   overflow: hidden;
   left: -9999px; 
   top: -9999px;
   height: 1px;
   width: 1px;
}

@-webkit-keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    2% { opacity: 1; animation-timing-function: ease-out; }
    4% { opacity: 1 }
    6% { opacity: 0 }
    100% { opacity: 0 }
}

@-moz-keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    2% { opacity: 1; animation-timing-function: ease-out; }
    4% { opacity: 1 }
    6% { opacity: 0 }
    100% { opacity: 0 }
}

@-o-keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    2% { opacity: 1; animation-timing-function: ease-out; }
    4% { opacity: 1 }
    6% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    2% { opacity: 1; animation-timing-function: ease-out; }
    4% { opacity: 1 }
    6% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
  opacity: 1;
}

.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -2;
    margin: 0;
    list-style-type: none;
}

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
 
  // Output standard non-prefixed declaration
  #{$property}: $value;
}

.cb-slideshow li span { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  @include prefix(animation, imageAnimation 135s linear infinite 0s, webkit moz o);
}

.cb-slideshow li:nth-child(1) span { 
  background-image: url(/img/backgrounds/1.jpg);
}

.cb-slideshow li:nth-child(2) span { 
  background-image: url(/img/backgrounds/2.jpg);
  @include prefix(animation-delay, 5s, webkit moz o);
}

.cb-slideshow li:nth-child(3) span { 
  background-image: url(/img/backgrounds/3.jpg);
  @include prefix(animation-delay, 10s, webkit moz o); 
}

.cb-slideshow li:nth-child(4) span { 
  background-image: url(/img/backgrounds/4.jpg);
  @include prefix(animation-delay, 15s, webkit moz o);
}

.cb-slideshow li:nth-child(5) span { 
  background-image: url(/img/backgrounds/5.jpg);
  @include prefix(animation-delay, 20s, webkit moz o);
}

.cb-slideshow li:nth-child(6) span { 
  background-image: url(/img/backgrounds/6.jpg);
  @include prefix(animation-delay, 25s, webkit moz o);
}

.cb-slideshow li:nth-child(7) span { 
  background-image: url(/img/backgrounds/7.jpg);
  @include prefix(animation-delay, 30s, webkit moz o);
}

.cb-slideshow li:nth-child(8) span { 
  background-image: url(/img/backgrounds/8.jpg);
  @include prefix(animation-delay, 35s, webkit moz o);
}

.cb-slideshow li:nth-child(9) span { 
  background-image: url(/img/backgrounds/9.jpg);
  @include prefix(animation-delay, 40s, webkit moz o);
}

.cb-slideshow li:nth-child(10) span { 
  background-image: url(/img/backgrounds/10.jpg);
  @include prefix(animation-delay, 45s, webkit moz o);
}

.cb-slideshow li:nth-child(11) span { 
  background-image: url(/img/backgrounds/11.jpg);
  @include prefix(animation-delay, 50s, webkit moz o);
}

.cb-slideshow li:nth-child(12) span { 
  background-image: url(/img/backgrounds/12.jpg);
  @include prefix(animation-delay, 55s, webkit moz o);}

.cb-slideshow li:nth-child(13) span { 
  background-image: url(/img/backgrounds/13.jpg);
  @include prefix(animation-delay, 60s, webkit moz o);
}

.cb-slideshow li:nth-child(14) span { 
  background-image: url(/img/backgrounds/14.jpg);
  @include prefix(animation-delay, 65s, webkit moz o);
}

.cb-slideshow li:nth-child(15) span { 
  background-image: url(/img/backgrounds/15.jpg);
  @include prefix(animation-delay, 70s, webkit moz o);
}

.cb-slideshow li:nth-child(16) span { 
  background-image: url(/img/backgrounds/16.jpg);
  @include prefix(animation-delay, 75s, webkit moz o);
}

.cb-slideshow li:nth-child(17) span { 
  background-image: url(/img/backgrounds/17.jpg);
  @include prefix(animation-delay, 80s, webkit moz o);
}

.cb-slideshow li:nth-child(18) span { 
  background-image: url(/img/backgrounds/18.jpg);
  @include prefix(animation-delay, 85s, webkit moz o);
}

.cb-slideshow li:nth-child(19) span { 
  background-image: url(/img/backgrounds/19.jpg);
  @include prefix(animation-delay, 90s, webkit moz o);
}

.cb-slideshow li:nth-child(20) span { 
  background-image: url(/img/backgrounds/20.jpg);
  @include prefix(animation-delay, 95s, webkit moz o);
}

.cb-slideshow li:nth-child(21) span { 
  background-image: url(/img/backgrounds/21.jpg);
  @include prefix(animation-delay, 100s, webkit moz o); 
}
.cb-slideshow li:nth-child(22) span { 
  background-image: url(/img/backgrounds/22.jpg);
  @include prefix(animation-delay, 105s, webkit moz o);
}

.cb-slideshow li:nth-child(23) span { 
  background-image: url(/img/backgrounds/23.jpg);
  @include prefix(animation-delay, 110s, webkit moz o); 
}

.cb-slideshow li:nth-child(24) span { 
  background-image: url(/img/backgrounds/24.jpg);
  @include prefix(animation-delay, 115s, webkit moz o); 
}

.cb-slideshow li:nth-child(25) span { 
  background-image: url(/img/backgrounds/25.jpg);
  @include prefix(animation-delay, 120s, webkit moz o); 
}

.cb-slideshow li:nth-child(26) span { 
  background-image: url(/img/backgrounds/26.jpg);
  @include prefix(animation-delay, 125s, webkit moz o); 
}

.cb-slideshow li:nth-child(27) span { 
  background-image: url(/img/pete01.jpg);
  @include prefix(animation-delay, 130s, webkit moz o); 
}

.header-custom {
  text-decoration: underline;
}

.title {
  font-weight: 600;
  letter-spacing: 2.5px;
}

.bio {
  padding: 1.2em;
  background-color: rgba(22,22,22,0.6);
}

.overlay {
  z-index: -1;
}

.mv {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mv2x {
  margin-top: 2em;
  margin-bottom: 2em;
}

.ph {
  padding: 0 0.75em;
}

.video__outer {
  position: relative;
//  box-shadow: 0 0 0 5px #111;
}

.video__overlay, .johnny__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100.3%;
  background-color: rgba(102, 102, 102, 0);
  text-align: center;
  transition: background-color 0.5s ease;
  h6 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;
    color: white;
  }
}

.video__outer:hover {
  .video__overlay {
    background-color: rgba(51, 51, 51, 0.9);
    h6 {
      opacity: 1;
    }
  }
}

.reveal-modal {
  border: 0;
}

.close-reveal-modal {
  background-color: black !important;
}

.slideshow {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

@media (max-width: 480px) {
  .slideshow {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.slick-slide img {
  margin: 0 auto;
  max-height: 100vh;
}

@media (min-width: 1440px) {
  p {
    font-size: 1.25rem
  }
}

@media (min-width: 1920px) {
  p {
    font-size: 1.4rem
  }
}