{{> nav}}

<ul class="cb-slideshow">
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
</ul>

<div class="row  mv  ph">
  <div class="small-12  medium-6  large-5  small-centered  medium-uncentered  columns">
    <h1 class="title">{{title}}</h1>
    <div class="bio  mv+">
      <h6 class="header-custom">Production Blog</h6>
      <a href="http://enterthehero.com/">Enter the Hero</a>
      <h6 class="header-custom">Production Company</h6>
      <a href="http://www.wearescandinavia.com/">Scandinavia</a><br><br>
      <em><a href="mailto:pete@ohpetelee.com">pete@ohpetelee.com</a></em><span> | <em>617.784.1886</em></span>
    </div>
  </div>
</div>