{{> nav}}

<div class="row">
  <div class="small-12 centered columns slideshow">
    <div class="auto-slicky">
      <div><img src="../img/slideshow/01.jpg"></div>
      <div><img src="../img/slideshow/02.jpg"></div>
      <div><img src="../img/slideshow/03.jpg"></div>
      <div><img src="../img/slideshow/04.jpg"></div>
      <div><img src="../img/slideshow/05.jpg"></div>
      <div><img src="../img/slideshow/06.jpg"></div>
      <div><img src="../img/slideshow/07.jpg"></div>
      <div><img src="../img/slideshow/08.jpg"></div>
      <div><img src="../img/slideshow/09.jpg"></div>
      <div><img src="../img/slideshow/10.jpg"></div>
      <div><img src="../img/slideshow/11.jpg"></div>
      <div><img src="../img/slideshow/12.jpg"></div>
      <div><img src="../img/slideshow/13.jpg"></div>
      <div><img src="../img/slideshow/14.jpg"></div>
      <div><img src="../img/slideshow/15.jpg"></div>
      <div><img src="../img/slideshow/16.jpg"></div>
      <div><img src="../img/slideshow/17.jpg"></div>
      <div><img src="../img/slideshow/18.jpg"></div>
      <div><img src="../img/slideshow/19.jpg"></div>
      <div><img src="../img/slideshow/20.jpg"></div>
      <div><img src="../img/slideshow/21.jpg"></div>
      <div><img src="../img/slideshow/22.jpg"></div>
      <div><img src="../img/slideshow/23.jpg"></div>
      <div><img src="../img/slideshow/24.jpg"></div>
      <div><img src="../img/slideshow/25.jpg"></div>
      <div><img src="../img/slideshow/26.jpg"></div>
      <div><img src="../img/slideshow/27.jpg"></div>
      <div><img src="../img/slideshow/28.jpg"></div>
      <div><img src="../img/slideshow/29.jpg"></div>
      <div><img src="../img/slideshow/30.jpg"></div>
      <div><img src="../img/slideshow/31.jpg"></div>
      <div><img src="../img/slideshow/32.jpg"></div>
      <div><img src="../img/slideshow/33.jpg"></div>
      <div><img src="../img/slideshow/34.jpg"></div>
    </div>
  </div>
</div>
